In [1]:
import numpy as np
import pandas as pd
from sklearn.utils import shuffle
from sklearn.ensemble import AdaBoostClassifier
from sklearn.datasets import make_classification
from sklearn.model_selection import train_test_split

In [6]:
magic04_df = pd.read_csv("magic04.csv")
#magic04_df = shuffle(magic04_df)
magic04_df.head()

,fLen0t1,fWidt1,fSize,fConc,fConc1,fAsym,fM3Lon0,fM3Trans,fAlp1a,fDist,class
0,28.7967,16.0021,2.6449,0.3918,0.1982,27.7004,22.0110,-8.2027,40.0920,81.8828,0
1,31.6036,11.7235,2.5185,0.5303,0.3773,26.2722,23.8238,-9.9574,6.3609,205.2610,0
2,162.0520,136.0310,4.0612,0.0374,0.0187,116.7410,-64.8580,-45.2160,76.9600,256.7880,0
3,23.8172,9.5728,2.3385,0.6147,0.3922,27.2107,-6.4633,-7.1513,10.4490,116.7370,0
4,75.1362,30.9205,3.1611,0.3168,0.1832,-5.5277,28.5525,21.8393,4.6480,356.4620,0

In [7]:

X = magic04_df.iloc[:,:len(magic04_df.columns)-1]
Y = magic04_df['class']
X_train, X_test, y_train, y_test = train_test_split(X, Y, random_state = 0, test_size = 0.3)
clf = AdaBoostClassifier(n_estimators=100, random_state=0)
clf.fit(X_train, y_train)  


# clf.feature_importances_  

# clf.predict()

# clf.score(X, y)

AdaBoostClassifier(algorithm='SAMME.R', base_estimator=None, learning_rate=1.0,
                   n_estimators=100, random_state=0)

In [8]:
clf.score(X_test, y_test)

0.84086926042762

In [9]:
ypred = clf.predict_proba(X)
mysub = pd.DataFrame({'Id': range(len(magic04_df)), 'Predicted': ypred[:,1]})
mysub.head()

   Id  Predicted
0   0   0.498647
1   1   0.496413
2   2   0.505648
3   3   0.496731
4   4   0.493956

In [10]:
mysub.to_csv(r'KaggleSubmission.csv')